apiVersion: console.streamshub.github.com/v1alpha1
kind: Console
metadata:
  name: my-console
spec:
  hostname: my-console-{{ console_project }}.{{ route_subdomain }}
  security:
    oidc:
      authServerUrl: https://keycloak-{{ keycloak_project }}.{{ route_subdomain }}/realms/streamshub
      clientId: streamshub
      clientSecret: 
        valueFrom:
          secretKeyRef:
            name: streamshub-secret
            key: client-secret
    subjects:
      - claim: groups
        include:
          - streamshub-admins
        roleNames:
          - administrators
    roles:
      - name: administrators
        rules:
          - resources:
              - kafkas
            privileges:
              - 'ALL'
  kafkaClusters:
    - name: {{ streams_kafka_cluster_name}}
      namespace: {{ console_project }} 
      listener: console 
      credentials:
        kafkaUser:
          name: ui
      security:
        roles:
          - name: administrators
            rules:
              - privileges:
                  - LIST
                  - GET
                resources:
                  - topics
                  - topics/records
                  - consumerGroups
                  - rebalances
                  - nodes
                  - nodes/configs   