apiVersion: kafka.strimzi.io/v1
kind: KafkaConnect
metadata:
  name: my-connect-cluster
  annotations:
  # use-connector-resources configures this KafkaConnect
  # to use KafkaConnector resources to avoid
  # needing to call the Connect REST API directly
    strimzi.io/use-connector-resources: "true"
spec:
  groupId: connect-cluster
  offsetStorageTopic: connect-cluster-offsets
  configStorageTopic: connect-cluster-configs
  statusStorageTopic: connect-cluster-status
  config:
    config.storage.replication.factor: -1
    offset.storage.replication.factor: -1
    status.storage.replication.factor: -1
  authentication:
    passwordSecret:
      secretName: producer
      password: password
    type: scram-sha-512
    username: producer
  tls:
    trustedCertificates:
      - secretName: {{ streams_kafka_cluster_name }}-cluster-ca-cert
        pattern: '*.crt'
  version: {{ kafka_version }}
  replicas: 1
  bootstrapServers: '{{ streams_kafka_cluster_name }}-kafka-bootstrap:9093'
  build:
    output:
      type: docker
      image: image-registry.openshift-image-registry.svc:5000/{{ cluster_project }}/strimzi-connect-example:latest
    plugins:
      - name: kafka-connect-file
        artifacts:
          - type: maven
            group: org.apache.kafka
            artifact: connect-file
            version: 4.2.0 